<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.ESNBTH.esnbth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Splash_Screen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainLayActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.Event_List"
            android:label="@string/title_activity_event__list"></activity>
        <activity
            android:name=".Activities.News_List"
            android:label="@string/title_activity_news_list"></activity>
        <activity
            android:name=".Fragments.Fragment_Karlskrona"
            android:label="@string/title_activity_karlskrona_inf"></activity>
        <activity
            android:name=".Activities.News_Inf"
            android:label="@string/title_activity_news_inf"></activity>
        <activity
            android:name=".Activities.Event_Inf"
            android:label="@string/title_activity_event_inf"></activity>
        <activity
            android:name=".Activities.Esn_Inf"
            android:label="@string/title_activity_esn_inf"></activity>
    </application>

</manifest>
